* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(43, 43, 43);
}

/* Components */
/* Login */
.login {
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.login__Box {
  background-color: lightgray;
  align-items: center;
  justify-content: center;
}

/* Navbar */
.Navbar__btn {
  background-color: white !important;
  color: #435f7a !important;
}

/* Chat */

.chat {
  margin-top: 20px;
  justify-content: center;
}

.chat__main {
  width: 80%;
  height: 60vh;
  border: 1px solid gray;
  overflow-x: auto;
  background: #b3b5b5;
}

.chat__mainInput {
  display: flex;
  direction: column !important;
  align-items: flex-end !important;
  width: 80%;
}

.chat__mainBtn {
  background-color: #00b0ff !important;
  color: white !important;
  width: 56px !important;
  height: 56px !important;
}

.chat__input {
  background-color: white !important;
}
